<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suriya.promptnom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginandSignupActivity"
            android:theme="@style/LoginTextLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:theme="@style/usertextcolor" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.AddDeviceActivity"
            android:theme="@style/usertextcolor" />
        <activity
            android:name=".activity.DeviceDetailActivity"
            android:theme="@style/usertextcolor" />
        <activity android:name=".activity.DeviceDetailEmpActivity" />
        <activity
            android:name=".activity.TransitionDetailActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.UserinfoUpdateActivity"
            android:theme="@style/usertextcolor" />
        <activity
            android:name=".activity.UpdateDeviceActivity"
            android:theme="@style/usertextcolor" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_promptnow" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".activity.ConnectUserActivity"
            android:theme="@style/NoActionBar"></activity>
    </application>

</manifest>